<style>
  .pyconuk {
      box-sizing: content-box;
      font-size: .8vw;
      left: 50%;
      margin-top: -4vw;
      position: absolute;
      top: 0;
      transform: translateX(-50%) translateY(-50%);
  }

  .pyconuk *,
  .pyconuk :after,
  .pyconuk :before {
      box-sizing: content-box;
  }

  .thankyou {
      background: #fff;
      border: .25em solid #000;
      color: #000;
      display: block;
      font-family: Futura-Bold;
      font-size: 3em;
      left: 50%;
      line-height: 1;
      margin-left: -7.75em;
      padding: .3em 0 .15em;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 7.5em;
      width: 15em;
      z-index: 9000;
  }

  .circle {
      background: #fff;
      border: 3em solid #000;
      border-radius: 100%;
      font-size: 1em;
      height: 32em;
      line-height: 30em;
      margin: 0 auto;
      position: relative;
      text-align: center;
      width: 32em;
  }

  .circle:after {
      border: 3em solid #000;
      border-radius: 100%;
      content: '';
      display: block;
      height: 32em;
      left: -3em;
      position: absolute;
      top: -3em;
      width: 32em;
      z-index: 5000;
  }

  .python {
      box-sizing: content-box;
      display: inline-block;
      height: 20em;
      margin: 7em 1em;
      position: relative;
      width: 7em;
      z-index: 1;
  }

  .python:after,
  .python:before {
      content: ' ';
      display: block;
      position: absolute;
  }

  .python:before {
      border-radius: 1.5em 1.5em 0 0;
      height: 3em;
      left: 0;
      right: 0;
      top: 0;
  }

  .python:after {
      bottom: 0;
      right: 0;
      top: 3em;
      width: 3em;
  }

  .python.blue:after,
  .python.blue:before {
      background: #0071bc;
  }

  .python.blue .eye {
      animation: blink 1.9s infinite;
  }

  .python.red:after,
  .python.red:before {
      background: #ed1c24;
  }

  .python.red .eye {
      animation: blink 2.4s infinite;
  }

  .python.yellow:after,
  .python.yellow:before {
      background: #fc0;
  }

  .python.yellow .eye {
      animation: blink 2s infinite;
  }

  .python.right {
      transform: rotateY(180deg);
  }

  @keyframes spin {
      50% {
          transform: rotateY(180deg);
      }

      100% {
          transform: rotateY(-180deg);
      }
  }

  @keyframes blink {
      90% {
          animation-timing-function: ease-in;
          transform: none;
      }

      93% {
          transform: scaleY(0);
      }

      100% {
          animation-timing-function: ease-out;
      }
  }

  .moustache:after,
  .moustache:before {
      background: #000;
      border-radius: 3em 0 3em 1em;
      content: '';
      display: block;
      height: 1.5em;
      position: absolute;
      top: 2.25em;
      transform: rotate(60deg);
      width: 2em;
      z-index: 0;
  }

  .moustache:after {
      margin-left: -1.3em;
      transform: rotatez(180deg) scale(.8);
  }

  .eye {
      animation: blink 2.4s infinite;
      background: #fff;
      border-radius: 100%;
      display: block;
      height: 1.3em;
      left: .75em;
      position: relative;
      top: .75em;
      width: 1.3em;
      z-index: 1000;
  }

  .deerstalker {
      background: #000;
      border-radius: 4em 4em 0 0;
      display: block;
      height: 3.5em;
      margin-left: 3em;
      margin-top: -2.8em;
      position: absolute;
      transform: rotateZ(15deg);
      width: 4.5em;
      z-index: 100;
  }

  .deerstalker:after,
  .deerstalker:before {
      border: solid .5em #000;
      border-color: #000 transparent transparent transparent;
      border-radius: 6em 8em 0 0;
      content: '';
      display: block;
      height: .5em;
      margin-left: -1em;
      margin-top: 2em;
      position: absolute;
      transform: rotateX(180deg);
      width: 7em;
  }

  .deerstalker:after {
      height: .25em;
      margin: -1em 0 0 1.5em;
      width: 1em;
  }

  .glasses {
      border-radius: 100%;
      border: .4em solid #000;
      display: block;
      height: 1.7em;
      margin-left: .2em;
      margin-top: -1.25em;
      position: relative;
      width: 1.7em;
      z-index: 500;
  }

  .glasses:before {
      border: .4em solid #000;
      border-color: #000 transparent transparent #000;
      border-radius: 100%;
      content: '';
      display: block;
      height: 1.7em;
      margin-left: -1.5em;
      margin-top: -.5em;
      position: absolute;
      transform: scale(.7) rotateZ(-30deg);
      width: 1.7em;
      z-index: -100!important;
      z-index: 500;
  }

  .glasses:after {
      border: solid .35em #000;
      border-radius: 0 8em 0 0;
      border-color: #000 transparent transparent transparent;
      content: '';
      display: block;
      height: 1em;
      margin-left: 1.7em;
      margin-top: 0;
      position: absolute;
      width: 3.5em;
  }

  .crown {
      background-size: 100% auto;
      height: 6em;
      margin: -15.7em 0 0 5em;
      position: absolute;
      transform: rotateZ(15deg) rotateY(180deg);
      width: 6em;
      z-index: 20;
  }

  .slueth {
      top: -4.3em;
  }

  .queen {
      height: 28em;
      margin-right: -.5em;
      top: -1.8em;
  }

  .swot {
      top: -4.3em;
  }

  footer {
    font-size: 80%;
    position: relative;
    margin-top: 5em;
  }
</style>

<footer>
  <div id="footer_inner">
    {% include snakes.html %}

    <p>
      PyCon UK is a volunteer-organised conference, staged by and on behalf of the Python community in the UK.
    </p>

    <p>
      PyCon is a trademark of the <a href="https://www.python.org/psf/">Python Software Foundation</a>.
    </p>
  </div>
</footer>
