<footer>
  <div id="footer_inner">
    {% include snakes.html %}

    <p>
      PyCon UK is a volunteer-organised conference, staged by UKPA Trading Limited (a company registered in England and Wales <a href="https://beta.companieshouse.gov.uk/company/12254310">no.&nbsp;12254310</a>) on behalf of the UK&nbsp;Python Association (a charity registered in England and Wales <a href="https://beta.charitycommission.gov.uk/charity-details/?regid=1173471&subid=0">no.&nbsp;1173471</a>).
    </p>

    <p>
      PyCon is a trademark of the <a href="https://www.python.org/psf/">Python Software Foundation</a>.
    </p>
  </div>
</footer>
